@using FileTagger
<!DOCTYPE html>
<html ng-app="app">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Breeze.BusinessTime - Example Application</title>
        @Render.Link("~/Content/bootstrap.css")
        @Render.Link("~/Content/site.css")
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <span class="navbar-brand">Breeze.BusinessTime - Example App</span>
                </div>
                <div class="navbar-collapse collapse">
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
        <div class="container-fluid body-content">
            @RenderBody()
        </div>

        @Render.Script("~/Scripts/jquery-*.js")
        @Render.Script("~/Scripts/jquery.validate*")
        @Render.Script("~/Scripts/bootstrap.js")
        @Render.Script("~/Scripts/q.js")
        @Render.Script("~/Scripts/breeze.debug.js")
        @Render.Script("~/Scripts/angular.js")
        @Render.Script("~/app/app.js")

    </body>
</html>
